* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }
  *:after, *:before {
    box-sizing: border-box; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  text-align: center; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; }

h1 {
  color: #ffe5e0;
  padding: 20px;
  font-weight: bold;
  font-size: 1.2rem; }

p {
  color: #ffe5e0;
  font-size: 1.2rem;
  padding: 0 25px;
  margin-top: 15px;
  text-align: center; }

.header {
  border-left: 4px solid #ffb9ad;
  overflow: hidden;
  height: 40px;
  margin: 25px 30px;
  display: flex;
  align-items: center;
  transition: all .4s; }
  .header > p {
    position: relative;
    left: -200px;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: #ffb9ad;
    margin: 0;
    padding: 0;
    animation: showHeader 1s ease-out forwards; }

@keyframes showHeader {
  to {
    left: 7px; } }

.nav {
  cursor: pointer;
  transition: all .4s; }

.nav-320 {
  position: fixed;
  width: 52px;
  height: 52px;
  background-color: #ff8e7a;
  z-index: 3;
  right: 12px;
  top: 12px;
  border-radius: 10px; }
  .nav-320 > span {
    width: 32px;
    height: 6px;
    background-color: tomato;
    position: absolute;
    left: 10px;
    top: 13px; }
    .nav-320 > span:before, .nav-320 > span:after {
      content: '';
      width: 32px;
      height: 6px;
      background-color: tomato;
      position: absolute;
      left: 0;
      top: 10px; }
    .nav-320 > span:after {
      top: 20px; }

.nav-320:hover,
.nav-320:active {
  background-color: #ffb9ad; }
  .nav-320:hover > span,
  .nav-320:hover > span:before,
  .nav-320:hover > span:after,
  .nav-320:active > span,
  .nav-320:active > span:before,
  .nav-320:active > span:after {
    background-color: #ff8e7a; }

.ul-320 {
  display: none; }

.home-page {
  position: relative;
  background-image: url("./img/bg2.jpg");
  background-size: 800px;
  background-position: calc(50% - 30px) -405px;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .home-page > header {
    color: #ff8e7a;
    font-size: 2.4rem;
    font-weight: bold;
    letter-spacing: 3px; }
  .home-page .btn-home-page {
    border: 2px solid #ff8e7a;
    margin-top: 15px;
    width: 160px;
    height: 40px;
    line-height: 40px;
    background-color: transparent;
    color: #ff8e7a;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    z-index: 1;
    transition: all .4s; }
    .home-page .btn-home-page:hover, .home-page .btn-home-page:active {
      background-color: #ff8e7a;
      color: #ffe5e0; }

.circle-effect {
  width: 100%;
  height: 150px;
  position: absolute;
  bottom: 0;
  overflow: hidden; }
  .circle-effect .wave1 {
    position: absolute;
    width: 900px;
    height: 950px;
    left: 51%;
    bottom: -850px;
    transform: translate(-50%);
    background-color: #ff9784;
    border-radius: 50%;
    animation: waterEffect 4s linear infinite; }
  .circle-effect .wave2 {
    position: absolute;
    width: 900px;
    height: 940px;
    left: 49%;
    bottom: -845px;
    transform: translate(-50%);
    background-color: #ff7d66;
    border-radius: 50%;
    animation: waterEffect 4s .3s linear infinite; }
  .circle-effect .wave3 {
    position: absolute;
    width: 900px;
    height: 930px;
    left: 53%;
    bottom: -840px;
    transform: translate(-50%);
    background-color: tomato;
    border-radius: 50%;
    animation: waterEffect 5s linear infinite; }

@keyframes waterEffect {
  from {
    transform: translate(-50%) rotate(0deg); }
  to {
    transform: translate(-50%) rotate(360deg); } }

.aboutme-page {
  background-color: tomato;
  width: 100%;
  height: 720px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden; }

.img-aboutme-page {
  margin: 20px auto;
  width: 246px;
  height: 346px;
  position: relative; }
  .img-aboutme-page > span:nth-child(1) {
    position: absolute;
    right: 0;
    top: 0;
    width: 150px;
    height: 260px;
    box-shadow: 0 0 30px black;
    background-image: url("./img/bg3.jpg");
    background-size: 246px 346px;
    background-position: -96px 0;
    background-repeat: no-repeat;
    z-index: 2;
    opacity: 0;
    animation: tilePicture 1.2s ease-out forwards; }
  .img-aboutme-page > span:nth-child(2) {
    position: absolute;
    width: 200px;
    height: 300px;
    left: 23px;
    top: 23px;
    box-shadow: 0 0 20px black;
    background-image: url("./img/bg3.jpg");
    background-size: 246px 346px;
    background-position: -23px -23px;
    background-repeat: no-repeat;
    z-index: 1;
    opacity: 0;
    animation: tilePicture2 1.2s ease-out forwards; }
  .img-aboutme-page > span:nth-child(3) {
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 90px;
    box-shadow: 0 0 15px black;
    background-image: url("./img/bg3.jpg");
    background-size: 246px 346px;
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 0;
    opacity: 0;
    animation: tilePicture3 1.2s ease-out forwards; }
  .img-aboutme-page > span:nth-child(4) {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 70px;
    height: 80px;
    box-shadow: 0 0 30px black;
    background-image: url("./img/bg3.jpg");
    background-size: 246px 346px;
    background-position: 0 -266px;
    background-repeat: no-repeat;
    z-index: 1;
    opacity: 0;
    animation: tilePicture4 1.2s ease-out forwards; }

@keyframes tilePicture {
  from {
    right: -120px;
    top: -120px;
    transform: rotate(75deg);
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes tilePicture2 {
  from {
    left: -120px;
    top: 120px;
    transform: rotate(60deg);
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes tilePicture3 {
  from {
    left: -120px;
    top: -60px;
    transform: rotate(-60deg);
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes tilePicture4 {
  from {
    left: 120px;
    bottom: -60px;
    transform: rotate(75deg);
    opacity: 0; }
  to {
    opacity: 1; } }

.gallery-page {
  background-color: #ff7056;
  width: 100%;
  height: 855px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden; }

.gallery {
  width: 100%;
  height: 200px;
  margin: 25px 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  .gallery .select-gallery {
    width: 150px;
    height: 100%;
    background-image: url("http://placekitten.com/200/300");
    background-position: center;
    background-size: cover;
    cursor: pointer;
    transition: all .4s;
    box-shadow: 0 0 10px black;
    border-radius: 5px;
    animation: turningPic 1s ease-out forwards;
    perspective: 10px;
    backface-visibility: hidden; }
    .gallery .select-gallery:hover {
      transform: scale(1.05);
      box-shadow: 0 0 20px black; }
  .gallery p {
    width: 140px;
    margin: 0;
    padding: 10px; }

@keyframes turningPic {
  from {
    transform: rotateY(180deg); } }

.cv-page {
  background-color: tomato;
  width: 100%;
  height: 510px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden; }

.cv {
  width: 260px;
  height: 360px;
  margin: 20px auto;
  background-color: #fefefe;
  position: relative;
  animation: showCvOrContacts .7s ease-out forwards; }
  .cv > button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 160px;
    height: 80px;
    line-height: 80px;
    outline: none;
    border-radius: 25px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid #ff8e7a;
    color: #ff8e7a;
    background-color: transparent;
    cursor: pointer;
    transition: all .4s; }
    .cv > button:hover, .cv > button:active, .cv > button:focus {
      background-color: #ffe5e0;
      transform: translate(-50%, -50%) scale(1.07);
      box-shadow: 0 0 5px black; }

@keyframes showCvOrContacts {
  from {
    transform: scale(0); }
  70% {
    transform: scale(1.05); } }

.contact-page {
  background-color: #ff7056;
  width: 100%;
  height: 565px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden; }

.contact-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: showCvOrContacts .7s ease-out forwards; }
  .contact-links > div {
    width: 250px;
    margin-bottom: 10px; }
    .contact-links > div > a {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      text-decoration: none; }
      .contact-links > div > a > p {
        margin: 0;
        padding: 0;
        font-weight: bold; }

.svg-fb {
  mask-image: url("./svg/fb.svg");
  mask-repeat: no-repeat;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  background-color: #3b5998; }

.svg-mail {
  mask: url("./svg/mail.svg");
  mask-repeat: no-repeat;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  background-color: #262626; }

form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 260px;
  margin: 20px auto;
  animation: showCvOrContacts .7s ease-in forwards; }
  form > label {
    width: 25%;
    text-align: start;
    margin-bottom: 10px;
    color: #ffe5e0;
    font-weight: bold; }
  form > input[type='text'],
  form > input[type='email'] {
    width: 75%;
    height: 40px;
    padding: 5px 10px;
    font-size: 14px;
    margin-bottom: 10px;
    color: #262626;
    background-color: snow;
    border: 1px solid #ff3814;
    border-radius: 10px;
    outline: none; }
    form > input[type='text']:hover, form > input[type='text']:active, form > input[type='text']:focus,
    form > input[type='email']:hover,
    form > input[type='email']:active,
    form > input[type='email']:focus {
      box-shadow: 0 0 5px black;
      border: 1px solid orange; }
  form > textarea {
    width: 100%;
    height: 150px;
    padding: 10px 12px;
    font-size: 14px;
    margin-bottom: 25px;
    color: #262626;
    background-color: snow;
    border: 1px solid #ff3814;
    border-radius: 10px;
    outline: none; }
    form > textarea:hover, form > textarea:active, form > textarea:focus {
      box-shadow: 0 0 5px black;
      border: 1px solid orange; }
  form > input[type='submit'] {
    width: 160px;
    height: 50px;
    margin: 0 auto;
    font-size: 1.5rem;
    border: 2px solid #ffe5e0;
    line-height: 40px;
    background-color: transparent;
    color: #ffe5e0;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    z-index: 1;
    transition: all .4s; }
    form > input[type='submit']:hover, form > input[type='submit']:active {
      background-color: #ff8e7a;
      color: #ff3814;
      border: 2px solid #ff3814; }

.foot {
  width: 100vw;
  height: 60px;
  background-color: #262626;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .foot p {
    font-size: .8rem;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0;
    color: #ccc; }
  .foot div {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center; }
    .foot div p {
      padding: 0;
      margin: 3px 15px 0;
      letter-spacing: 0; }
